{%extends 'base.html'%}
{%block body%}
<H1>WELCOME {{request.user}}</H1>

<p>

    WorkoutLog is a fitness application developed by Emmanuel Shibu. The app is designed to help individuals keep track of their workout routines and fitness progress.

With WorkoutLog, users can create and customize their workout plans according to their fitness goals, such as weight loss, muscle gain, or overall fitness. The app allows users to track their workouts, set reminders, and monitor their progress.

The app also includes a feature for tracking nutrition and water intake, which can be essential for maintaining a healthy lifestyle. It provides an easy-to-use interface with a user-friendly design that makes it easy to navigate and use.

Overall, WorkoutLog is a useful tool for individuals who are looking to stay motivated and track their fitness progress. It provides a comprehensive approach to fitness tracking and helps users stay on track with their fitness goals.
</p>
{%endblock%}